/* Base styles for the body */
body {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315deg, #fdfbfb, #ebedee 74%);
}

/* Styles for the calculator wrapper */
#calculator {
    font-family: "Arial", sans-serif;
    background-color: hsl(0, 0%, 100%); /* White background */
    border-radius: 25px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    max-width: 500px;
    overflow: hidden;
}

/* Styles for the calculator display */
#display {
    width: 100%;
    padding: 25px;
    font-size: 4rem;
    text-align: left;
    font-family: "Arial", sans-serif;
    border: none;
    background-color: hsl(0, 0%, 100%); /* White background */
    color: black; /* Text color */
}

/* Grid layout for calculator keys */
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

/* General button styles */
button {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: none;
    background-color: hsl(0, 0%, 100%); /* White background */
    color: black; /* Text color */
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

/* Button hover state */
button:hover {
    background-color: hsl(0, 0%, 45%);
}

/* Button active state */
button:active {
    background-color: hsl(0, 0%, 55%);
}

/* Styles for operator buttons */
.operator-btn {
    background-color: hsl(210, 100%, 56%);
    color: white; /* Text color */
}

/* Operator button hover state */
.operator-btn:hover {
    background-color: hsl(210, 100%, 66%);
}

/* Operator button active state */
.operator-btn:active {
    background-color: hsl(210, 100%, 76%);
}

/* Custom scrollbar styles */
html {
    scrollbar-width: thin;
}
